

<div class="content">
    <h2>Books</h2>
    <br>
    <div class="table"> 
          <table>
            <thead>
              <tr>
                <th>N</th>
                <th>Name</th>
                <th>Price</th>
                <th>Author</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of books | async ; let i = index;">
                <td>{{i+1}}</td>
                <td>{{book.name| json}}</td>
                <td>{{book.price | json}}</td>
                <td>{{book.author | json}}</td>
                <td>
                  <button class="edit_btn" mat-flat-button (click) = "editBook(book)"><mat-icon>edit</mat-icon>Edit</button>
                  <button class="delete_btn" mat-flat-button color="warn" (click) = "deleteBook(book.id)"><mat-icon>delete</mat-icon>Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button mat-raised-button class="add_btn" mat-button (click) = "addBook()">Add</button>
          <div>
        </div>
    </div>
</div>