<div class="addItemForm">
    <h2>Add Book</h2>
    <span class="close_icon" (click)="close()"> <mat-icon>close</mat-icon></span>
        <br>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Name of a Book</mat-label>
                <input matInput placeholder="Book Name" [(ngModel)]="books.name">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Author of a Book</mat-label>
                <input matInput placeholder="Book Author" [(ngModel)]="books.author">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Price of a Book</mat-label>
                <input matInput placeholder="Book Price " type="number" [(ngModel)]="books.price">
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary" (click) = "addBook()">Add a Book <mat-icon>add</mat-icon></button>
</div>